body{
	margin: 200px 500px 200px 500px;
}

.box{
	background-color: #a891c4;
	padding: 40px;
	border-radius: 50px;
}

.menu{
	margin: 40px;
	background: linear-gradient(45deg, #91c4a8, #c4a891);
	border-radius: 60px;
	padding: 12px;
}

.paras{
	display: none;
	background-color: #a56f8f;
	padding: 10px;
	border-radius: 3px;
	animation-name: flip;
	animation-duration: 1s;
	animation-delay: 0s;
}

@keyframes flip{
	from{
		transform: rotateX(180deg);
	}

	to{
		transform: rotateX(0deg);
	}
}

